/* font link */
@import url('https://fonts.googleapis.com/css2?family=Festive&family=PT+Sans&family=Raleway:ital,wght@0,100;1,900&family=Roboto:wght@100;400&family=Rochester&family=Rouge+Script&display=swap');


body {
    background-color: #eceae3 !important;
    height: 1000px;
}

.body-wrap {
    position: relative;
    background-image: url(/assets/image/background/bg_01.png);
    overflow-x: hidden;
    background-size: cover;
    background-color: #eceae3;
    background-repeat: no-repeat;
    background-position: center center;

}



/* header style */
header {
    position: relative;
    z-index: 100;
}

.navbar-brand {
    position: relative;
    left: -50px;
}

.logo_text {
    font-size: 25px;
    font-family: 'Festive', cursive;
    line-height: 161%;
    letter-spacing: 10px;
    background: -webkit-radial-gradient(#00FB46, #DE768F, #F1E85E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul {
    list-style: none;
}

.icon_btn {
    border: none;
    background-color: transparent;
    margin-right: 10px;
}

.icon_btn>small {
    top: -7px;
    right: -10px;
    height: 22px;
    color: #ffffff;
    min-width: 22px;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    position: absolute;
    border-radius: 45px;
    background-color: #c7a17a;
}

.cart_btn {
    position: relative;
}

.dark_background {
    background-color: rgba(0, 0, 0, 0.4);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.nav-item {
    padding-right: 25px;
}

.nav-link {
    padding: 0px;
    display: block;
    color: #999999;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.ul_li_right {
    margin-bottom: 0;
}

.navbar-nav>li:hover>a,
.navbar-nav>li.active>a,
.icon:hover {
    color: #d4af89;
}





/* main body style */
.section_1 {
    height: 95vh;
    align-items: center;
}

.tea_img {
    opacity: 0.04;
    position: absolute;
}

.left_content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.textbox {
    position: relative;
}

.textbox>p {
    max-width: 458px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.textbox>h1 {
    color: #FBB040;
    text-align: center;
    font-family: Rochester;
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 7.6px;
    text-transform: capitalize;
}

.textbox>h2 {
    color: #000;
    font-family: Rouge Script;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 10.56px;
}

.shop_btn {
    position: absolute;
    bottom: -60px;
    left: -12px;
}

.right_content>img {
    max-width: 90%;
    border-radius: 52px;
}

.section_2 {
    position: relative;
}

.slider{
    position: relative;
    display: flex;
    align-items: center;
    background-image: url("/assets/image/landing-page/3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.text b,
strong {
    font-style: italic;
    font-weight: 700;
}

.text h1 {
    color: #fffcfc;
    font-family: raleway, Sans-serif;
    font-size: 56px;
    font-weight: 100;
    line-height: 1.1em;
}

.section_2 h2 {
    margin-top: 40px;
    color: #fffcfc;
    text-align: justify;
    font-family: pt sans, Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7em
}


@media only screen and (min-width: 993px) {
    .navbar-brand {
        text-align: left;
    }
}

@media only screen and (max-width: 1000px) {

    .navbar-brand {
        text-align: center;
    }

    .content {
        position: relative;
        z-index: 1;
    }

    .textbox>h1 {
        font-size: 28px;
    }
}